*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
}
h2 {
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    color: grey;
}
.header {
    min-height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;

}
nav {
    display: flex;
    padding: 0 13%;
    justify-content: space-between;
    align-items: center;

}
/* .navbar {
    background-color: blue;
} */

nav img {
    width: 230px;
}
.nav_links {
    flex: 1;
    text-align: right;
}

.nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav_links ul li a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 15px;
}

#Port_select {
    border: none;
    font-size: 15px;
    color: black;
    background-color: #fff;
}

/* .quote_btn {
    padding: 0.6rem;
    width: 9rem;
    background-color: blue;
    border: none;

}

.quote_btn a {
    color: #fff;
    font-size: 1.1rem;
} */
.dropdown {
    position: relative;
    display: inline-block;
    
}
.dropdown_container {
    display: flex;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    background: none;
    
}
/* .dropdown_btn{
    color: grey;
} */
.selecticon {
    background: none;
    position: relative;
    border: none;
}
.dropdown-content {
    padding: 20px 0;
    display: none;
    text-align: center;
    background-color: white;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    /* color: grey; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#port{
    color: #545265;    
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.nav_links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #f44336;
    transition: 0.5s;
}

.nav_links ul li:hover::after {
    width: 100%;
    /* transition: 0.5s; */
}

/* page */
h1{
    font-size: 45px;
}
p{
    color: grey;
}
.page-title{
    background-image: url('../img/bg-products.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* position: absolute; */
    width:100%;
    height: 400px;
    
}
.page-title-1{
    background-color: rgba(0, 0, 0, 0.750);
    width:100%;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page-title-text a{
    color: white;
    text-decoration: none;
}
.dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #004aff;
    margin: 2px 7px;
    border-radius: 50%;
}
.whatsapp{
    height: 100px;
    width: 100px;
    position: fixed;
    border-radius: 50%;
    bottom: 10px;
    left: 20px;
}
.whatsapp img{
    height:60px;
    width: 60px;
    opacity: 0.65;
}
.heading{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 85px 0;
}
.heading span{
    color: #004aff;
}
.row{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 10px 80px
}
.col{
    width: 380px;
    height: auto;
    padding: 10px 35px;
    line-height: 1.5;
}
.col img{
    width: 350px;
    height: 350px;
}
.col h3{
    margin: 10px 0px;
}

/* footer section  */

.footer {
    width: 100%;
    background-color: rgb(245, 243, 243);
    min-height: 75vh;

}

.footerBox {
    margin: auto;
    width: 72%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 70vh);
    gap: 20px;

}

.footerBox h3 {
    margin-top: 5rem;
    color: black;
    font-size: 1.2rem;
}

.footerBox h3+p {
    margin-top: 16px;
    color: grey;
    font-size: 16px;
    line-height: 1.3rem;
}

.fa-brands {
    /* display: flex; */
    margin-top: 2rem;
    margin-left: 10px;
    padding: 12px;
    background-color: blue;
    /* width: 50%;
    width: 50%; */
    border-radius: 50%;
    color: white;

}

.fa-brands:hover {
    background-color: #1fc3f0;
}

/* .footerBox ul{
    padding:20px;
} */
.footerBox ul li {
    list-style: none;
    margin-top: 16px;
    /* padding: 15px; */
    font-weight: bold;
}

.footer-box h3+h2 {
    padding-top: 10px;

}

.mbl-email-address {
    padding-left: 40px;
    padding-bottom: 10px;
    color: rgb(64, 50, 38);
}

#noida {
    color: black;
    font-weight: bold;
}

#dubai {
    margin-left: 2.8rem;
    color: blue;
}

.fa-solid {
    padding-right: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(64, 50, 38);
}

/* footer end================================ */


/* social link */

.whatsapp-icon {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
}

.fa-whatsapp {
    font-size: 2rem;
    background-color: #25d366;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}

.fa-angle-up {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: #086ad8;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}